:root {
    --navbar-bg-color: #e3f2fd;
    --footer-bg-color: #b6e0fe;
    --feels-like-bg-color: #96ee98;
    --min-temp-bg-color: #96eeec;
    --max-temp-bg-color: #eecb96;

    --text-label-color: #544d4d;

    --fs-xs: 0.6rem;
    --fs-sm: 0.8rem;
    --fs-md: 1rem;
    --fs-lg: 1.2rem;
    --fs-xl: 1.4rem;
    --fs-xxl: 1.6rem;
    --fs-weather-icon: 4rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--navbar-bg-color);
}

footer {
    background-color: var(--footer-bg-color);
}


/*****************************************************************/
#updated-date {
    font-size: var(--fs-md);
    color: var(--text-label-color);
    align-self: center;
}

#weather-icon {
    font-size: var(--fs-weather-icon);
}

#current-temperature{
    font-size: var(--fs-weather-icon);
}

/********************************************************************/
.label-box {
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--text-label-color);
}

.info-box {
    font-size: var(--fs-lg);
}

.feels-like-box {
    background-color: var(--feels-like-bg-color);
}

.min-temp-box {
    background-color: var(--min-temp-bg-color);
}

.max-temp-box {
    background-color: var(--max-temp-bg-color);
}

.indicator-box {
    margin: 0 0 0.5rem 0 !important;
    padding-left: 1rem !important;
    border: 1px solid black;
}